@if (Request.IsAuthenticated)
{
    <ul class="main-menu">
                    <li><a href="@Url.Action("Index", "Home")" class="link"><b>Home</b></a></li>
                    <li><a href="@Url.Action("Index", "Issue")" class="link"><b>Issue</b></a></li>
                    <li><a href="@Url.Action("Index", "Category")" class="link"><b>Categories</b></a></li>
                    <li><a href="@Url.Action("Index", "Priority")" class="link"><b>Priorities</b></a></li>
                    <!--<li id="file_link">@Html.ActionLink("Home", "Index", "Home", null, new { @htmlTag = "<b>" })</li>
                    <li id="file_link">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })</li>
                    <li id="def_link">@Html.ActionLink("About", "About", "Home", null, new { @class = "link" })</li>-->
				    <!--<li id="def_link"><a><b>Inspect report</b></a></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>-->
                </ul>
    @RenderPage("_QuickSearchPartial.cshtml")
}