@model IssueReportManagementTest.ViewModel.IssueViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Issue</legend>

    <div class="display-label">Added</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Added)
    </div>

    <div class="display-label">Modiefied</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Modiefied)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.State)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Category.Name)
    </div>

    <div class="display-label">Priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Priority.Name)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Title)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cissue.Description)
    </div>

    <div class="display-label">Activities</div>
    <div class="display-field">
        @foreach (var item in Model.cactivities)
        {
            <div class="display-activity">
                <p>@item.Context</p>
                <p>@item.Employee</p>
            </div>
        }
    </div>
</fieldset>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id=Model.cissue.IssueID }) |
    @Html.ActionLink("Back to List", "Index")-->
</p>
