@model IEnumerable<IssueReportManagementTest.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Added
        </th>
        <th>
            Employee
        </th>
        <th>
            Context
        </th>
        <th>
            Issue
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Context)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityID })
        </td>
    </tr>
}

</table>
